h1 {
    color:red;
    font-family:roboto;
    text-align: center;
}
#Home {
    background-color: lightgray;
}
p {
    font-style: italic;
}
#Home h2 {
    color: red;
  
}
div > p{
font-weight: bold;
background-color: #333;
color: #fff;
padding: .5em;
}
#Home h2 {
 
  text-align: center;
  border: 2px solid green;
}
#Home img{
    border-style: solid;
    border-color: red;
  border-width: 8px;
  padding: 50px;
 }
 .displayed {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 .introduction {
     color: green;
     font-family: robto;
     font-weight: bolder;
     background-color: red;
     text-align: justify;
 }
ul li {
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: royalblue;
    padding: 4px 30px;
}
ul li {
    text-align: left;
}
#About h2 {
    color: red;
    text-align: center;
}
#About{
    margin: 10px auto;
    text-align: center;
}
#About ul{
    list-style: none;
}
#About ul li{
    display: block;
    line-height: 2.5;
}
#Contact h2 {
    color: red;
    text-align: center;
}
#Contact {
    text-align: center;
}